@font-face {
  font-family: "SFPro Light";
  src: url("../fonts/SFProDisplay-Light.ttf") format("truetype");
}

@font-face {
  font-family: "SFPro Bold";
  src: url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
}
