// fonts
$first-font: "SFPro Bold";
$second-font: "SFPro Light";

// all colors
$black: #000;
$white: #fff;
$red-100: #f6254e;
$red-200: #f52e50;
$red-300: #ee334b;
$red-400: #ff598f;

// buttons gradient
$btn-primary-gr-bg-1: $red-100;
$btn-primary-gr-bg-2: $red-400;

// labels
$label-border-color: $red-300;

// banner price
$banner-price-color: $red-200;
$label-border-big-color: $red-300;
